{% extends 'base.html' %}

{% block head %}
  <title>View</title>
{% endblock %}

{% block body %}
  <h1>View All Themes</h1>

  <div class="allthemes-container">
    <form class="allthemes-form" action="results" method="POST">
    {% for doc in all_themes %}
      <div class="all-themes-theme">
        <input type='image' name="category" id= "alltheme-theme-img" src="" alt="{{doc.to_dict().name}}">
          <label for="alltheme-theme-img" name="category" alt="Submit"> {{doc.to_dict().name}}</label>
      </div>
    {% endfor %}
    </form>
  </div>






{% endblock %}
