{% extends 'base.html' %}

{% block head %}
<title>Post Reports</title>
{% endblock %}

{% block body %}
<div class="container">

    <div class="row"><div class="col">
    <h1>Create New Category</h1>

    <hr><br>
        {% if message %}
        <div class="alert alert-danger" style="padding:2px"  role="alert">

        {{message}}
        </div>
        {% endif %}


    <form method = "POST" action = "/createT" enctype="multipart/form-data">
        <div>
            <label for="c-name">Category Name</label><br>
            <input class="form-control" type="text" id="c-name" name="c-name" ><br>
            <label for="c-descri">Category Description</label><br>
            <textarea class="form-control" id="c-descri" name="c-descri" rows="4" cols="50"></textarea><br>
            <label for="t-name">Category Image</label><br>
            <input class="form-control" placeholder="Select new image" type="file" id="img" name="img" accept="image/*"><br>
        <div class="btn-group">

       <input class="form-control btn btn-primary" type="submit" name="Submit" value="Submit">
   
            <input class="form-control btn btn-default" type="reset" name="Cancel" value="Cancel">
         </div>
        </div>
    </form>
        </div>
    </div>
</div>

{% endblock %}


