{% extends 'base.html' %}

{% block head %}
<title>Post Reports</title>
{% endblock %}

{% block body %}
<div class="create-report" id="new-report">
<h1>Create new Report</h1>
<hr>
<h2>Forms</h2>
    <form>
        <div>
            <label for="theme">Theme</label><br>
            <select>

                <option value="th1">{}</option>

            </select><br>
            <label for="t-name">report title</label><br>
            <input type="text" id="r-title" name="r-title" value="insert a report title"><br>
            <label for="r-descri" id ="r-descri" name="r-descri">Report Description</label><br>
            <textarea id="report-description" name="report-description" rows="4" cols="50"></textarea>
        </div>
        <div>
            <label for="r-tag">Report Tags</label><br>
            <input type="text" id="r-tag" name="r-tag" value="insert report tags" ><br>
            <label for="r-image">Report Image</label><br>
            <button type="button"> Select new image</button><br>
            <button type="button"> Submit</button>
            <button type="button"> cancel</button>
        </div>

    </form>
</div>

<div class="create-theme" id="create-theme">
    <hr>
    <h1>Create a new theme</h1>
    <hr>
    <h2>Forms</h2>

    <form method = "POST" action = "/create">
        <div>
            <label for="t-name">Theme Name</label><br>
            <input type="text" id="t-name" name="t-name" ><br>
            <label for="t-descri" id ="t-descri" name="t-descri">Theme Description</label><br>
            <textarea id="theme-description" name="theme-description" rows="4" cols="50"></textarea>
        </div>
        <div>
            <label for="t-name">Cover Image</label><br>
            <button type="button"> Select new image</button><br>
            <label for="or">or</label><br>
            <select>
                <option value="img1">img1</option>
                <option value="img2">img2</option>
                <option value="img3">img3</option>
                <option value="img4">img4</option>
                <option value="img5">img5</option>
            </select>
            <br>
            <input type="submit" name="submit-theme" value="submit">
            <button type="button"> cancel</button>

        </div>
    </form>
</div>

<script>
    document.getElementById("create-theme").style.display ="none";
    var username = {{ username|tojson }};
    if (username == 'commercial'){
        document.getElementById("create-theme").style.display = "block";
    }

</script>
{% endblock %}


