{% extends 'base.html' %}

{% block head %}
<title>Post Reports</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row"><div class="col">
    <h1>Create New Category</h1>
    <hr><br>


    <form method = "POST" action = "/createT">
        <div>
            <label for="c-name">Category Name</label><br>
            <input class="form-control" type="text" id="c-name" name="c-name" ><br>
            <label for="c-descri">Category Description</label><br>
            <textarea class="form-control" id="c-descri" name="c-descri" rows="4" cols="50"></textarea><br>
            <label for="t-name">Category Image</label><br>
            <input class="form-control" placeholder="Select new image" type="file" id="img" name="img" accept="image/*"><br>
            <label for="or">OR</label><br>
            <label for="or">Choose from Existing Image</label><br>
            <select class="form-control">
                <option value="img1">img1</option>
                <option value="img2">img2</option>
                <option value="img3">img3</option>
                <option value="img4">img4</option>
                <option value="img5">img5</option>
            </select>
            <br>
                        <div class="btn-group">

       <input class="form-control btn btn-primary" type="submit" name="Submit" value="Submit">

            <input class="form-control btn btn-default" type="reset" name="Cancel" value="Cancel">
                        </div>
        </div>
    </form>
        </div>
    </div>
</div>

{% endblock %}


