<title>Post Reports</title>
<h1>Post Reports</h1>
<hr>
<h2>Forms</h2>
<form>
    <div>
        <label for="theme">theme</label><br>
        <select>
            <option value="th1">theme1</option>
            <option value="th2">theme2</option>
            <option value="th3">theme3</option>
            <option value="th4">theme4</option>
            <option value="th5">theme5</option>
        </select><br>
        <label for="tname">report title</label><br>
        <input type="text" id="rTitle" name="rTitle" value="insert a report title"><br>
        <label for="Rdescri" id ="Rdescri" name="Rdescri">Report Description</label><br>
        <textarea id="reportDescription" name="reportDescription" rows="4" cols="50"></textarea>
    </div>
    <div>
        <label for="rTag">Report Tags</label><br>
        <input type="text" id="rTag" name="rTag" value="insert report tags" ><br>
        <label for="rImage">Report Image</label><br>
        <button type="button"> Select new image</button><br>
        <button type="button"> Submit</button>
        <button type="button"> cancel</button>
    </div>

</form>





