{% extends 'base.html' %}

{% block head %}
<title>Post Reports</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
               <div class="col">
<h1>Create New Post</h1>
<hr>
               <br>

    <form>
        <div>
            <label for="theme" >Category</label><br>
            <select class="form-control">

                <option value="th1" >test1</option>
                <option value="th1" >test2</option>
                <option value="th1" >test3</option>

            </select><br>
            <label for="p-title">Post Title</label><br>
            <input class="form-control" type="text" id="p-title" name="p-title" placeholder="insert a report title"><br>
            <label for="p-descri" id ="p-descri" name="p-descri">Post Content</label><br>
            <textarea class="form-control" id="post-description" name="post-description" rows="4" cols="50"></textarea>
        </div>
        <div>
            <label for="p-tag">Post Tags</label><br>
            <input class="form-control" type="text" id="p-tag" name="p-tag" placeholder="insert report tags" ><br>
            <label for="p-image">Post Image</label><br>
            <input class="form-control" placeholder="Select new image" type="file" id="img" name="img" accept="image/*"><br>

            <button class="form-control" type="button"> Submit</button>
            <br>
            <button class="form-control" type="button"> cancel</button>
        </div>

    </form>
        </div>


     <div class="col">
    <h1>Create New Category</h1>
    <hr>
         <br>



    <form method = "POST" action = "/create">
        <div>
            <label for="c-name">Category Name</label><br>
            <input class="form-control" type="text" id="c-name" name="c-name" ><br>
            <label for="c-descri" id ="c-descri" name="c-descri">Category Description</label><br>
            <textarea class="form-control" id="theme-description" name="theme-description" rows="4" cols="50"></textarea>
        </div>
        <div>
            <label for="t-name">Category Image</label><br>
            <input class="form-control" placeholder="Select new image" type="file" id="img" name="img" accept="image/*"><br>
            <label for="or">OR</label><br>
            <label for="or">Choose from Existing Image</label><br>
            <select class="form-control">
                <option value="img1">img1</option>
                <option value="img2">img2</option>
                <option value="img3">img3</option>
                <option value="img4">img4</option>
                <option value="img5">img5</option>
            </select>
            <br>
            <input class="form-control" type="submit" name="submit-theme" value="submit"><br>
            <button class="form-control" type="button"> cancel</button>

        </div>
    </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("create-theme").style.display ="none";
    var username = {{ username|tojson }};
    if (username == 'commercial'){
        document.getElementById("create-theme").style.display = "block";
    }

</script>
{% endblock %}


