<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
<title>Login</title>

<body>
    <div class="loginbox">

        <h1>Login</h1>
        <form method = "POST" action = "/">
            <p id="invalidcred"><i>These login credentials are incorrect</i></p>
            <p>Username</p>
            <input type="text" name="email" placeholder="Enter Email">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <br><br>
            <input type="submit" name="login" value="Login">
        </form>

        <a href="/signup">Sign Up</a>
        <script>
          document.getElementById("invalidcred").style.display = "none";
        </script>
        <script>
            function error(){
                alert("Wrong username or password!");
                document.getElementById("invalidcred").style.display = "";
                }
        </script>

    </div>

</body>
</head>
</html>
