{% extends 'base.html' %}

{% block head %}
<title>Management</title>
{% endblock%}

{% block body %}
<div class="container">

<h1>Manage your content</h1>
<hr>
<br>
     <div class="row">
          <div class="col">
<h2>Your reports</h2>

<div>
    <img src="" alt="image1"><br>

    <button type="button"> Prev Report</button>

    <button type="button"> Next Report</button>
</div>
          </div>
<hr>
         <div class="col">
<h3> Subscribed themes</h3>
<div>
    <a href = "#"> Theme 1</a>
    <br>
    <img src="" alt="image2">
    <br>
    <button type="button">unsubscribe</button>
</div>
           </div>
</div>
         </div>
    </div>
</div>
{%endblock%}

