{% extends 'base.html' %}

{% block head %}
  <title>View</title>
{% endblock %}

{% block body %}
  <h1>SAMPLE BODY HEADER</h1>

  <div class="onetheme-container">
    <div class = "onetheme-theme-res">
        <h3 id = "onetheme-res-name">{{ Report heading }}</-h3>
        <h4 id = "onetheme-res-date">{{ date_and_time }}</-h4>
        <!-- Image -->
        <img id = "onetheme-res-img" src="img_girl.jpg" alt="Item Image"></img>
        <!-- Tags -->
        <div class="onetheme-res-tags">
          <a id = "onetheme-res-tag" href = ""></a>
        </div>
        <!-- Description -->
        <p id = "onetheme-res-desc"></p>
    </div>
  </div>
{% endblock %}
