{% extends 'base.html' %}

{% block head %}
<title>Search</title>
{% endblock %}

{% block body %}
  <h1>SAMPLE BODY HEADER</h1>
  <!---->
  <form class="search-form" action="search.html" method = "POST">
      <input type="text" name="searchtext">
      <input type="submit" name="search" value="Search">
  </form>

  <div class="search-container">
    <div class = "search-res">
        <h3 id = "search-res-name">{{ Report heading }}</h3>
        <h4 id = "search-res-date">{{ date_and_time }}</h4>
        <!-- Image -->
        <img id = "search-res-img" src="img_girl.jpg" alt="Item Image" value="image-upload"></img>
        <!-- Tags -->
        <div class="search-res-tags">
          <a id = "search-res-tag" href = ""></a>
        </div>
        <!-- Description -->
        <p id = "search-res-desc"></p>
    </div>
  </div>
{% endblock %}
