<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>
<body>

    <form action="login.html" action="post">
        <h3>Create a New Account</h3>
        <p>Username</p>
        <input type="text" name="username" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="password" placeholder="Enter Password">
        <p>What kind of user are you?</p>
        <select name="usertype">
            <option value="personal">Personal</option>
            <option value="commercial">Commercial</option>
        </select>
        <br>
        <br>
        <input type="submit" name="register" value="Register">
    </form>

</body>
</html>
