<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    
    <title>Create Account</title>
</head>
<body>

  <div class="signupbox">
        <h3>Create a New Account</h3>
    <form method = "POST" action = "/signup">

          {% if message %}
            <div class="alert alert-danger" style="padding:2px"  role="alert">

            {{message}}
            </div>
                {% endif%}
        <p>Username:</p>
        <input type="text" name="username" placeholder="Enter Username">
        <p>Email:</p>
        <input type="text" name="email" placeholder="Enter Email">
        <p>Password</p>
        <input type="password" name="password" placeholder="Enter Password">
        <p>What kind of user are you?</p>
        <select name="usertype">
            <option value="personal">Personal</option>
            <option value="commercial">Commercial</option>
        </select>
        <br>
        <br>
        <input type="submit" name="register" value="Register">

        <a href="/" style="font-size:18px;">Back to Login</a>
    </form>
  </div>
</body>
</html>
