 body{
    margin: 0;
    padding: 0;
    background: url(https://news.utexas.edu/wp-content/uploads/2016/11/longhorns_logo-1200x800-c-default.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

h3 {
    margin-top: -20%;
}

.loginbox, .signupbox{
    width: 320px;
    height: 510px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.signupbox{
  height: 640px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p, .signupbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input, .signupbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"], .signupbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"], .signupbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #0158fb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox select, .signupbox select
{
    margin-left: auto;
    margin-right: auto;
}

.loginbox input[type="submit"]:hover, .signupbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a, .signupbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover, .signupbox a:hover {
    color: #ffc107;
}

